//! **************************************************************************
// Written by: Map P.49d on Sat Apr 27 23:19:47 2013
//! **************************************************************************

SCHEMATIC START;
COMP "dp" LOCATE = SITE "C17" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "vgaGreen<1>" LOCATE = SITE "N8" LEVEL 1;
COMP "vgaGreen<2>" LOCATE = SITE "P8" LEVEL 1;
COMP "vgaGreen<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "ps2c" LOCATE = SITE "R12" LEVEL 1;
COMP "ps2d" LOCATE = SITE "P11" LEVEL 1;
COMP "an<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "an<1>" LOCATE = SITE "H17" LEVEL 1;
COMP "an<2>" LOCATE = SITE "C18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "F15" LEVEL 1;
COMP "Hsync" LOCATE = SITE "T4" LEVEL 1;
COMP "Vsync" LOCATE = SITE "U3" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "G18" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "K18" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "K17" LEVEL 1;
COMP "sw<4>" LOCATE = SITE "L14" LEVEL 1;
COMP "sw<5>" LOCATE = SITE "L13" LEVEL 1;
COMP "sw<6>" LOCATE = SITE "N17" LEVEL 1;
COMP "sw<7>" LOCATE = SITE "R17" LEVEL 1;
COMP "sseg<0>" LOCATE = SITE "L18" LEVEL 1;
COMP "sseg<1>" LOCATE = SITE "F18" LEVEL 1;
COMP "sseg<2>" LOCATE = SITE "D17" LEVEL 1;
COMP "sseg<3>" LOCATE = SITE "D16" LEVEL 1;
COMP "sseg<4>" LOCATE = SITE "G14" LEVEL 1;
COMP "sseg<5>" LOCATE = SITE "J17" LEVEL 1;
COMP "sseg<6>" LOCATE = SITE "H14" LEVEL 1;
COMP "vgaRed<1>" LOCATE = SITE "R9" LEVEL 1;
COMP "vgaRed<2>" LOCATE = SITE "T8" LEVEL 1;
COMP "vgaRed<3>" LOCATE = SITE "R8" LEVEL 1;
COMP "Led<0>" LOCATE = SITE "J14" LEVEL 1;
COMP "Led<1>" LOCATE = SITE "J15" LEVEL 1;
COMP "Led<2>" LOCATE = SITE "K15" LEVEL 1;
COMP "Led<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "Led<4>" LOCATE = SITE "E17" LEVEL 1;
COMP "Led<5>" LOCATE = SITE "P15" LEVEL 1;
COMP "Led<6>" LOCATE = SITE "F4" LEVEL 1;
COMP "Led<7>" LOCATE = SITE "R4" LEVEL 1;
COMP "btn<0>" LOCATE = SITE "B18" LEVEL 1;
COMP "btn<1>" LOCATE = SITE "D18" LEVEL 1;
COMP "btn<2>" LOCATE = SITE "E18" LEVEL 1;
COMP "btn<3>" LOCATE = SITE "H13" LEVEL 1;
COMP "vgaBlue<2>" LOCATE = SITE "U5" LEVEL 1;
COMP "vgaBlue<3>" LOCATE = SITE "U4" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
TIMEGRP clk = BEL "x_dim_0" BEL "x_dim_1" BEL "x_dim_2" BEL "x_dim_3" BEL
        "x_dim_4" BEL "tile_height_0" BEL "tile_height_1" BEL "tile_height_2"
        BEL "tile_height_3" BEL "tile_height_4" BEL "y_dim_0" BEL "y_dim_1"
        BEL "y_dim_2" BEL "y_dim_3" BEL "y_dim_4" BEL "tile_width_0" BEL
        "tile_width_1" BEL "tile_width_2" BEL "tile_width_3" BEL
        "tile_width_4" BEL "slow_clk" BEL "clk_counter_0" BEL "clk_counter_1"
        BEL "clk_counter_2" BEL "clk_counter_3" BEL "clk_counter_4" BEL
        "clk_counter_5" BEL "clk_counter_6" BEL "clk_counter_7" BEL
        "clk_counter_8" BEL "clk_counter_9" BEL "clk_counter_10" BEL
        "clk_counter_11" BEL "clk_counter_12" BEL "clk_counter_13" BEL
        "clk_counter_14" BEL "clk_counter_15" BEL "clk_counter_16" BEL
        "clk_counter_17" BEL "clk_counter_18" BEL "clk_counter_19" BEL
        "clk_counter_20" BEL "clk_counter_21" BEL "clk_counter_22" BEL
        "clk_counter_23" BEL "clk_counter_24" BEL "clk_counter_25" BEL
        "KB/ps2_rx_unit/b_reg_10" BEL "KB/ps2_rx_unit/b_reg_9" BEL
        "KB/ps2_rx_unit/b_reg_8" BEL "KB/ps2_rx_unit/b_reg_7" BEL
        "KB/ps2_rx_unit/b_reg_6" BEL "KB/ps2_rx_unit/b_reg_5" BEL
        "KB/ps2_rx_unit/b_reg_4" BEL "KB/ps2_rx_unit/b_reg_3" BEL
        "KB/ps2_rx_unit/b_reg_2" BEL "KB/ps2_rx_unit/b_reg_1" BEL
        "KB/ps2_rx_unit/n_reg_3" BEL "KB/ps2_rx_unit/n_reg_2" BEL
        "KB/ps2_rx_unit/n_reg_1" BEL "KB/ps2_rx_unit/n_reg_0" BEL
        "KB/ps2_rx_unit/filter_reg_7" BEL "KB/ps2_rx_unit/filter_reg_6" BEL
        "KB/ps2_rx_unit/filter_reg_5" BEL "KB/ps2_rx_unit/filter_reg_4" BEL
        "KB/ps2_rx_unit/filter_reg_3" BEL "KB/ps2_rx_unit/filter_reg_2" BEL
        "KB/ps2_rx_unit/filter_reg_1" BEL "KB/ps2_rx_unit/filter_reg_0" BEL
        "KB/ps2_rx_unit/state_reg_1" BEL "KB/fifo_key_unit/ignore_next" BEL
        "KB/fifo_key_unit/array_reg_7" BEL "KB/fifo_key_unit/array_reg_6" BEL
        "KB/fifo_key_unit/array_reg_5" BEL "KB/fifo_key_unit/array_reg_4" BEL
        "KB/fifo_key_unit/array_reg_3" BEL "KB/fifo_key_unit/array_reg_2" BEL
        "KB/fifo_key_unit/array_reg_1" BEL "KB/fifo_key_unit/array_reg_0" BEL
        "MRT/VGAS/v_count_reg_0" BEL "MRT/VGAS/v_count_reg_1" BEL
        "MRT/VGAS/v_count_reg_2" BEL "MRT/VGAS/v_count_reg_3" BEL
        "MRT/VGAS/v_count_reg_4" BEL "MRT/VGAS/v_count_reg_5" BEL
        "MRT/VGAS/v_count_reg_6" BEL "MRT/VGAS/v_count_reg_7" BEL
        "MRT/VGAS/v_count_reg_8" BEL "MRT/VGAS/v_count_reg_9" BEL
        "MRT/VGAS/h_count_reg_0" BEL "MRT/VGAS/h_count_reg_1" BEL
        "MRT/VGAS/h_count_reg_2" BEL "MRT/VGAS/h_count_reg_3" BEL
        "MRT/VGAS/h_count_reg_4" BEL "MRT/VGAS/h_count_reg_5" BEL
        "MRT/VGAS/h_count_reg_6" BEL "MRT/VGAS/h_count_reg_7" BEL
        "MRT/VGAS/h_count_reg_8" BEL "MRT/VGAS/h_count_reg_9" BEL
        "MRT/rgb_reg_5" BEL "MRT/rgb_reg_2" BEL "MRT/rgb_reg_0" BEL
        "MRT/rgb_next_0" BEL "KB/ps2_rx_unit/f_ps2c_reg" BEL
        "KB/ps2_rx_unit/state_reg_2" BEL "MRT/VGAS/mod2_reg" BEL
        "MRT/VGAS/v_sync_reg" BEL "MRT/VGAS/h_sync_reg" BEL "MRT/rgb_next_5"
        BEL "MRT/rgb_next_2" BEL "KB/ps2_rx_unit/state_reg_0" BEL
        "tile_height_3_1" BEL "tile_height_2_1" BEL "tile_height_4_1" BEL
        "tile_width_3_1" BEL "tile_width_1_1" BEL "tile_width_4_1" BEL
        "tile_width_2_1" BEL "tile_height_1_1" BEL "tile_height_0_1" BEL
        "tile_width_0_1" BEL "tile_width_3_2" BEL "tile_width_1_2" BEL
        "clk_BUFGP/BUFG.GCLKMUX" BEL "clk_BUFGP/BUFG";
TS_clk = PERIOD TIMEGRP "clk" 20 ns HIGH 50%;
SCHEMATIC END;

